Repository Makoto0528/vue-started-kit: changes, and which lefthook commands are due for each by the changed paths.
All: typescript-check, vue-type-check, pint, eslint, prettier

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#

commit-msg:
  commands:
    commit-lint:
      run: vendor/bin/sail npx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    typescript-check:
      glob: '*.{ts,tsx}'
      run: vendor/bin/sail npx tsc --noEmit

    vue-type-check:
      glob: '*.vue'
      run: vendor/bin/sail npx vue-tsc --noEmit

    pint:
      glob: '*.php'
      run: vendor/bin/sail bin pint {staged_files} -q
      stage_fixed: true

    eslint:
      glob: '*.{js,jsx,ts,tsx,vue}'
      exclude:
        - 'public/*.{js,jsx,ts,tsx,vue,md,yml,yaml,json}'
      run: vendor/bin/sail npx eslint --fix {staged_files}

    prettier:
      glob: '*.{js,jsx,ts,tsx,vue,md,yml,yaml,json,css}'
      exclude:
        - 'public/*.{js,jsx,ts,tsx,vue,md,yml,yaml,json,css}'
      run: vendor/bin/sail npx prettier --write {staged_files}
      stage_fixed: true

feat(tooling): add configuration for linting and formatting
  .github/workflows/static-analysis.yml
  app/Actions/Fortify/PasswordValidationRules.php
  app/Actions/Fortify/UpdateUserProfileInformation.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/User.php
  app/Providers/FortifyServiceProvider.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/app.php
  config/auth.php
  config/cache.php
  config/database.php
  config/logging.php
  config/mail.php
  config/sanctum.php
  config/session.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/migrations/2025_05_17_044926_add_two_factor_columns_to_users_table.php
  database/migrations/2025_05_17_044935_create_personal_access_tokens_table.php
  phpstan.neon
  rector.php
Due: pint, prettier

feat(release): set up automated semantic versioning
  .github/workflows/release.yml
  app/helpers.php
  cliff.toml
  composer.json
  release.config.js
  version.json
Due: pint, eslint, prettier

feat(debugging): integrate Laravel Telescope and Ray debugging tools
  app/Actions/Fortify/CreateNewUser.php
  app/Actions/Fortify/ResetUserPassword.php
  app/Actions/Fortify/UpdateUserPassword.php
  app/Actions/Jetstream/DeleteUser.php
  app/Providers/AppServiceProvider.php
  app/Providers/JetstreamServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/filesystems.php
  config/telescope.php
  database/migrations/2025_05_17_053558_create_telescope_entries_table.php
  database/seeders/DatabaseSeeder.php
  public/index.php
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
  ray.php
  routes/api.php
  routes/web.php
  tests/Feature/Jetstream/ApiTokenPermissionsTest.php
  tests/Feature/Jetstream/CreateApiTokenTest.php
  tests/Feature/Jetstream/DeleteAccountTest.php
  tests/Feature/Jetstream/DeleteApiTokenTest.php
  tests/Feature/Jetstream/EmailVerificationTest.php
  tests/Feature/Jetstream/PasswordResetTest.php
  tests/Feature/Jetstream/RegistrationTest.php
  tests/Feature/Jetstream/TwoFactorAuthenticationSettingsTest.php
Due: pint, prettier

feat(app): enhance app configuration setup
  app/Models/User.php
  app/Providers/AppServiceProvider.php
Due: pint

feat(tests): enhance password handling in tests
  database/factories/UserFactory.php
  tests/Feature/Jetstream/AuthenticationTest.php
  tests/Feature/Jetstream/BrowserSessionsTest.php
  tests/Feature/Jetstream/DeleteAccountTest.php
  tests/Feature/Jetstream/PasswordConfirmationTest.php
  tests/Feature/Jetstream/PasswordResetTest.php
  tests/Feature/Jetstream/RegistrationTest.php
  tests/Feature/Jetstream/UpdatePasswordTest.php
Due: pint

test(helper): add unit tests for app_version function
  app/Providers/TelescopeServiceProvider.php
  app/helpers.php
  storage/app/.gitignore
  storage/app/private/.gitignore
  storage/app/public/.gitignore
  storage/framework/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/Feature/Jetstream/ProfileInformationTest.php
  tests/Unit/ExampleTest.php
  tests/Unit/HelperTest.php
Due: pint
